<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="script">
	<script th:src="@{/js/drink-wine.js}" type="text/javascript"></script>
</th:block>

<th:block layout:fragment="css">
	<!-- <link rel="stylesheet" th:href="@{/css/header.css}" /> -->
</th:block>

<form th:object="${drinkWineRequest}" layout:fragment="content" action="/drink-wine" method="POST" class="max-w-4xl mx-auto mb-8 mt-40 p-8">
	<div class="text-right">
		<a href="/add-wine">
			<span th:text="#{drinkWine.go.addWine}">add-wine</span>
			<svg class="inline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="12px" viewBox="-0.5 0 8 8" version="1.1">
			    <title>play [#1001]</title>
			    <desc>Created with Sketch.</desc>
			    <defs>
			</defs>
			    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			        <g id="Dribbble-Light-Preview" transform="translate(-427.000000, -3765.000000)" fill="#000000">
			            <g id="icons" transform="translate(56.000000, 160.000000)">
			                <polygon id="play-[#1001]" points="371 3605 371 3613 378 3609"></polygon>
			            </g>
			        </g>
			    </g>
			</svg>
		</a>
	</div>
	<h1 th:text="#{drinkWine.title}" class="text-4xl font-bold text-center mb-12">Drink Wine</h1>
	<div class="flex flex-col space-y-6">
		<div class="flex space-x-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
				viewBox="0 0 24 24" fill="none" stroke="currentColor"
				stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="w-6 h-6 mt-2">
				<path xmlns="http://www.w3.org/2000/svg" d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
		    </svg>
			<input th:placeholder="#{addWine.search.description}" id="search" class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
				 placeholder="Search your wine name" />
					<!-- 와인 검색 -->
			<button th:text="#{addWine.search}" id="search-btn" type="button"
					class="group relative w-20 flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-black hover:bg-gray-700 ">
					Search</button>
		</div>
		
		<label th:text="#{addWine.wine.title}" class="font-semibold pt-14 text-2xl"> About Wine </label>
		<hr />
		<input th:field="*{wineId}" type="hidden" name="wineId" />
		
		<div class="flex space-x-2 place-content-center">
			<div class="w-72 h-80 bg-gray-200 rounded-md text-center">
				<img id="wine-thumb" th:src="@{*{wineThumb != null && wineThumb != ''} ? *{wineThumb} : '/images/wine-default.png' }" alt="wine-thumb" class="inline-block h-72 my-4 px-2"/>
				<h4 th:classappend="${wineCount == null} ? 'hidden' : '' "
					class="text-orange-600 text-base w-full text-center"
					id="stock-message">
					<span th:text="#{drinkWine.stock.description1}">You have</span> <span id="wine-stock" th:text="${wineCount}">와인개수</span><span th:text="#{drinkWine.stock.description2}">in stock.</span>
				</h4>
			</div>
		</div>
		<div class="flex flex-col space-y-4">
			<div class="grid md:grid-cols-4 gap-4">
				<div class="flex flex-col md:col-span-3">
					<label th:text="#{addWine.wine.name}" for="wine-name" class="font-semibold"> Name </label> 
					<input th:placeholder="#{addWine.wine.name}" th:field="*{wineName}" 
						class="flex h-10 w-full rounded-md border border-input bg-gray-200 border-gray-300 bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50"
						id="wine-name" placeholder="Name" type="text" name="wineName" required autocomplete="off" readonly/> 
					
				</div>
				<div class="flex flex-col">
					<label th:text="#{addWine.wine.vintage}" for="vintage" class="font-semibold"> Vintage </label> 
					<input th:placeholder="#{addWine.wine.vintage.description}" th:field="*{wineVintage}" 
						class="flex h-10 w-full bg-gray-200 border-gray-300 rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50"
						id="vintage" placeholder="NV = blank" type="number" min="1900" max="2100" step="1" name="wineVintage" autocomplete="off" readonly/>
					
				</div>
			</div>
			
			<div>
				<label th:text="#{addWine.wine.size}" class="font-semibold">Size</label> 
				<ul class="radio-ul items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg md:flex ">
				    <li class="w-full border-b border-gray-200 bg-gray-200 border-gray-300 md:border-b-0 md:border-r ">
				        <div class="flex items-center ps-3 ">
				            <input th:field="*{wineSize}" 
				            	onclick="return false"
				            	id="size-sp" type="radio" value="Split" name="wineSize" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500" required>
				            <label th:text="|#{wine.size.split} - 0.178L|" for="size-sp" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 ">Split - 0.178L</label>
				        </div>
				    </li>
				    <li class="w-full border-b border-gray-200 md:border-b-0 md:border-r bg-gray-200 border-gray-300">
				        <div class="flex items-center ps-3">
				            <input th:field="*{wineSize}"    
				            	onclick="return false"
				            	id="size-h" type="radio" value="Half" name="wineSize" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
				            <label th:text="|#{wine.size.half} - 0.375L|" for="size-h" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 ">Half - 0.375L</label>
				        </div>
				    </li>
				    <li class="w-full border-b border-gray-200 md:border-b-0 md:border-r bg-gray-200 border-gray-300">
				        <div class="flex items-center ps-3">
				            <input th:field="*{wineSize}"  
				            	onclick="return false"
				            	id="size-st" type="radio" value="Standard" name="wineSize" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 ">
				            <label th:text="|#{wine.size.standard} - 0.75L|" for="size-st" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 ">Standard - 0.75L</label>
				        </div>
				    </li>
				    <li class="w-full border-b border-gray-200 md:border-b-0 md:border-r bg-gray-200 border-gray-300">
				        <div class="flex items-center ps-3">
				            <input th:field="*{wineSize}"   
				            	onclick="return false"
				            	id="size-m" type="radio" value="Magnum" name="wineSize" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 ">
				            <label th:text="|#{wine.size.magnum} - 1.5L|" for="size-m" class="w-full py-3 ms-2 text-sm font-medium text-gray-900 ">Magnum - 1.5L</label>
				        </div>
				    </li>
				    <li class="w-full border-b border-gray-200 md:border-b-0 md:border-r bg-gray-200 border-gray-300">
				        <div class="flex items-center ps-3">
				            <input th:field="*{wineSize}" 
				            	onclick="return false"
				            	id="size-dm" type="radio" value="Double Magnum" name="wineSize" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 ">
				            <label th:text="|#{wine.size.doubleMagnum} - 3L|" for="size-dm" class="w-full py-3.5 ms-2 text-xs font-medium text-gray-900 ">Double Magnum - 3L</label>
				        </div>
				    </li>
				</ul>
			</div>
			
			<label th:text="#{drinkWine.drinking.title}" class="font-semibold pt-14 text-2xl"> About drinking </label>
			<hr />
			<div class="grid md:grid-cols-4 gap-4">
				<div class="flex flex-col md:col-span-3">
					<label th:text="#{drinkWine.drinking.place}" for="place" class="font-semibold"> Place </label>
					<div class="grid grid-cols-12 space-x-1">
						<input th:placeholder="#{drinkWine.drinking.place.description}" th:field="*{drinkPlace}" th:classappend="${#fields.hasErrors('drinkPlace')} ? 'border-red-600' : ''" 
							class="col-span-6 md:col-span-8 h-10 w-full rounded-md border border-input border-gray-300 bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none disabled:cursor-not-allowed disabled:opacity-50"
							id="buy-place-text" placeholder="Select or write place" type="text" name="drinkPlace" required autocomplete="off"/> 
						<select id="buy-place-select"        
							class="col-span-4 md:col-span-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus-visible:outline-none block w-full p-2.5 "
							style="white-space: nowrap; overflow-wrap: normal;" name="placeList" >
							<option th:text="#{addWine.purchase.place.directInput}" value="DI" selected >=Direct Input=</option>
							<option th:each="place : ${placeList}" th:value="${place}" th:text="${place}"></option>
						</select> 
						<button id="add-place-btn" type="button" class="col-span-2 md:col-span-1 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm ">+</button>
					</div>
				
				</div>
				<div class="flex flex-col">
					<label th:text="#{drinkWine.drinking.count}" for="count" class="font-semibold">Count</label> 
					<input th:placeholder="#{drinkWine.drinking.count}" th:field="*{drinkCount}" th:classappend="${#fields.hasErrors('drinkCount')} ? 'border-red-600' : ''"  
						th:max="${wineCount}"
						class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
						id="count" placeholder="Count" type="number" min="1" step="1" name="drinkCount" required autocomplete="off"/>
					<p th:if="${#fields.hasErrors('drinkCount')}" th:errors="*{drinkCount}" class="text-red-600"></p>
				</div>
			</div>
			<div class="grid md:grid-cols-1 gap-4">
				<div class="flex flex-col">
					<label th:text="#{addWine.purchase.date}" for="date" class="font-semibold"> Date </label> 
					<div class="flex">
						<input th:placeholder="#{addWine.purchase.date}" th:field="*{drinkDate}" th:classappend="${#fields.hasErrors('drinkDate')} ? 'border-red-600' : ''"         
							class="flex h-10 w-fit rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background focus-visible:outline-none file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground  disabled:cursor-not-allowed disabled:opacity-50"
							id="date" type="date" name="drinkDate" required/>
						<button th:text="#{addWine.purchase.date.today}" id="today-btn" type="button" class="date-btn ms-1 px-2 text-sm text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 font-medium rounded-lg ">T'day</button>
						<button th:text="#{addWine.purchase.date.yesterday}" id="yesterday-btn" type="button" class="date-btn ms-1 px-2 text-sm text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 font-medium rounded-lg ">Y'day</button>
						<button th:text="#{addWine.purchase.date.2daysAgo}" id="2daysAgo-btn" type="button" class="date-btn ms-1 px-2 text-sm text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 font-medium rounded-lg ">TDBT</button>
					</div>
					<p th:if="${#fields.hasErrors('drinkDate')}" th:errors="*{drinkDate}" class="text-red-600"></p>
				</div>
			</div>
			<div class="grid md:grid-cols-1 gap-4">
				<div class="flex flex-col">
					<label th:text="#{addWine.purchase.note}" for="note" class="font-semibold">Note</label> 
					<div class="relative">
				        <input th:placeholder="#{addWine.purchase.note}" th:field="*{note}" th:classappend="${#fields.hasErrors('note')} ? 'border-red-600' : ''"   
				        		type="text" id="note" class="border border-gray-300 text-gray-900 text-sm rounded-lg focus-visible:outline-none focus:ring-blue-500 block w-full px-3 py-2" 
				        		placeholder="Note" name="note" autocomplete="off"/>
				    </div>
					<p th:if="${#fields.hasErrors('note')}" th:errors="*{note}" class="text-red-600"></p>
					
				</div>
			</div>
			<span class="mt-6"></span>
			
			<label class="inline-flex items-center cursor-pointer">
			    <input id="review-on-btn" type="checkbox" value="" class="sr-only peer">
			    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600"></div>
			    <span th:text="#{drinkWine.review.button}" class="ms-3 text-sm font-medium text-gray-900 ">Add review</span>
		    </label>
		    
			<div id="review-wrap" class="hidden">
				<label th:text="#{drinkWine.review}" class="font-semibold pt-14 text-2xl"> Review </label>
				<hr />
				<div class=" rounded-lg border bg-card text-card-foreground shadow-sm w-full  p-0"
					data-v0-t="card">
					<div class="p-6">
						<div class="">
							<div class="flex space-x-1 place-content-center mb-5">
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
									viewBox="0 0 32 32" fill="none" stroke="currentColor"
									stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
									class="text-yellow-400 mt-1">
						            <g xmlns="http://www.w3.org/2000/svg" clip-path="url(#clip0_901_3111)">
										<path d="M23.7627 20.1418C23.7627 20.1418 25.5627 27.4428 26.0827 29.4318C26.5727 31.3018 25.0727 31.2518 24.1527 30.6128C23.1227 29.8918 16.0027 24.8018 16.0027 24.8018C16.0027 24.8018 8.82267 29.9318 7.83267 30.6218C6.98267 31.2118 5.40267 31.3418 6.04267 29.4528C6.50267 27.8628 8.75267 20.1418 8.75267 20.1418C8.75267 20.1418 2.18267 15.3318 1.48267 14.7918C0.782673 14.2618 0.752673 12.7618 2.01267 12.6528C3.26267 12.5518 11.3427 11.8628 11.3427 11.8628C11.3427 11.8628 14.4727 3.19282 14.8927 2.04182C15.3027 0.671824 16.6627 0.641824 17.2127 2.02182C17.6627 3.14182 21.1727 11.8628 21.1727 11.8628C21.1727 11.8628 28.8027 12.5418 29.9527 12.6418C31.2127 12.7218 31.3127 14.2828 30.4927 14.9128C29.6827 15.5518 23.7627 20.1418 23.7627 20.1418Z" fill="#FFC44D"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M17.2162 2.02159C17.6662 3.14259 21.1742 11.8636 21.1742 11.8636C21.1742 11.8636 28.8062 12.5426 29.9552 12.6386C31.2142 12.7186 31.3132 14.2796 30.4962 14.9146C29.6812 15.5466 23.7612 20.1406 23.7612 20.1406C23.7612 20.1406 25.5602 27.4376 26.0832 29.4256C26.5732 31.2986 25.0702 31.2486 24.1562 30.6096C23.1212 29.8886 16.0012 24.7966 16.0012 24.7966C16.0012 24.7966 8.8252 29.9276 7.8372 30.6176C6.9872 31.2086 5.4002 31.3376 6.0402 29.4536C6.5052 27.8636 8.7552 20.1406 8.7552 20.1406C8.7552 20.1406 2.1792 15.3286 1.4812 14.7916C0.7792 14.2556 0.7572 12.7596 2.0092 12.6526C3.2632 12.5466 11.3432 11.8636 11.3432 11.8636C11.3432 11.8636 14.4752 3.18959 14.8962 2.04259C15.3042 0.671592 16.6632 0.640592 17.2162 2.02159Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</g>
									<defs xmlns="http://www.w3.org/2000/svg">
										<clipPath id="clip0_901_3111">
											<rect width="32" height="32" fill="white"/>
										</clipPath>
									</defs>
						        </svg>
								<span id="rating-display" class="text-4xl font-medium">2.5</span> 
							</div>
						
							<input disabled id="rating" name="reviewRating" type="range" min="0.05" max="5" value="2.5" step="0.05" class="block mx-auto mb-6 w-10/12 md:w-1/2 h-4 md:h-3 bg-gray-200 rounded-lg appearance-none cursor-pointer ">
						</div>
					
						<div class="grid gap-1">
							<label th:text="#{drinkWine.review.title}" class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
								for="title"> Title </label> 
							<input th:placeholder="#{drinkWine.review.title.description}" class="flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
								id="title" name="reviewTitle" placeholder="Enter the title" disabled/>
						</div>
						<div class="grid gap-1 mt-4">
							<label th:text="#{drinkWine.review.content}" class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
								for="content"> Content </label>
							<textarea th:placeholder="#{drinkWine.review.content.description}" class="flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
								id="content" name="reviewContent" placeholder="Enter the description" disabled></textarea>
						</div>
					</div>
				</div>


				<span class="mt-6"></span>
			</div>
			
			<button th:text="#{drinkWine.submit}" type="submit"
					class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-black hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black">
					Drink!</button>
		</div>
	</div>
	
	
	
	<!-- Search Result Modal -->	
	<div id="search-modal-background" class="modal-background fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 h-screen hidden">
		<div id="search-modal" class="modal bg-white p-8 rounded-lg min-w-1/2 overflow-y-scroll " style="max-height: 70vh; min-width: 50vw; max-width: 80vw">
			<div class="flex items-center justify-between mb-4">
				<h2 th:text="#{addWine.search.result.title}" class="text-xl font-semibold">Search result</h2>
				<button th:text="#{modal.close}" type="button" class="close inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2">
					Close</button>
			</div>
			<div id="search-modal-content" class="w-full modal-content flex justify-center " >
				<div class="w-full">
					<!-- Content Area -->
					<h4 th:text="#{addWine.search.result.registeredWine.title}" class="text-xl font-semibold">Registered Wine</h4>
					<hr />
					<div id="search-modal-content-old" class="mb-6">
					
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	<div id="place-modal-background" class="modal-background fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 h-screen hidden">
		<div id="place-modal" class="modal bg-white p-8 rounded-lg min-w-1/2 overflow-y-scroll " style="max-height: 70vh; min-width: 30vw; max-width: 80vw">
			<div class="flex items-center justify-between mb-4">
				<h2 th:text="#{addWine.purchase.place.addPlace.title}" class="text-xl font-semibold">Add place</h2>
				<button th:text="#{modal.close}" type="button" class="close inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2">
					Close</button>
			</div>
			<div id="place-modal-content" class="modal-content flex justify-center w-full">
				
				<div class="grid grid-cols-10 space-x-1 w-full">
					<input th:placeholder="#{addWine.purchase.place.addPlace.description}" type="text" id="place-add-input" class="col-span-8 md:col-span-9 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 "
						style="white-space: nowrap; overflow-wrap: normal;" placeholder="Add a new place where you bought wine" />
						
					<button type="button" id="add-place-submit" class="col-span-2 md:col-span-1 text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm ">+</button>
				</div>
				
			</div>
			<div id="place-modal-error">
				
			</div>
		</div>
	</div>
	
	<div id="loading-container" class="hidden">
		<div id="loading" class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-gray-900 block mx-auto my-5"></div>
		<h3 th:text="#{addWine.search.loading.description}" class="text-xl text-center">It can take about 10 seconds</h3>
	</div>
	
</form>

</html>	
					
					




			

