<div xmlns:th="http://www.thymeleaf.org" class="flex flex-col space-y-1" >
	<i id="uuid" th:text="${uuid}" class="hidden" ></i>
	<div th:each="wine : ${wineList}" th:classappend="${type == 'old'} ? 'own-wine bg-sky-50' : 'new-wine' " 
		class="wine-in-search-result p-1 flex items-center space-x-4 cursor-pointer hover:bg-gray-100"> 
		<img th:src="@{|${wine.thumbBottom}|}" th:alt="${wine.name}"
			class="h-14 w-14 rounded" width="40" height="40"
			style="aspect-ratio: 40/40; object-fit: contain;" /> 
			
		<span class="text-lg font-semibold">
			<span th:text="${wine.name}"></span>
			<span th:if="${type == 'old'}" th:text="${wine.vintage == null ? '--NV' : '--'+wine.vintage}" class="font-black"></span>
			<span th:if="${type == 'old'}" th:text="${wine.size == 'Standard' ? '' : '--'+wine.size}" class="font-black"></span>
		</span>
		
		<div class="data hidden">
			<p th:text="${wine.wineId}" class="wineId"></p>
			<p th:text="${wine.wineType}" class="wineType"></p>
			<p th:text="${wine.name}" class="wineName"></p>
			<p th:text="${wine.size}" class="wineSize"></p>
			<p th:text="${wine.vintage}" class="wineVintage"></p>
			<p th:text="${wine.country}" class="wineCountry"></p>
			<p th:text="${wine.region}" class="wineRegion"></p>
			<p th:text="${wine.averageRating}" class="wineAverageRating"></p>
			<p th:text="${wine.rating}" class="wineRating"></p>
			<p th:text="${wine.averagePrice}" class="wineAveragePrice"></p>
			<p th:text="${wine.count}" class="wineCount"></p>
			<p th:text="${wine.link}" class="wineLink"></p>
			<p th:text="${wine.thumb}" class="wineThumb"></p>
			<p th:text="${wine.thumbBottom}" class="wineThumbBottom"></p>
			<p th:text="${wine.bestYear}" class="wineBestYear"></p>
		</div>
	</div> 
	
</div>