<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="script">
	<!-- <script th:src="@{/js/index.js}" type="text/javascript"></script> -->
</th:block>

<th:block layout:fragment="css">
	<!-- <link rel="stylesheet" th:href="@{/css/header.css}" /> -->
</th:block>


<div layout:fragment="content" 
	th:with="wine = ${response.wine}, wineLogList = ${response.wineLogList}, reviewList = ${response.reviewList}
			, userAveragePrice = ${response.userAveragePrice}, userAverageRating = ${response.userAverageRating}
			, numberOfBuying = ${response.numberOfBuying}, numberOfDrinking = ${response.numberOfDrinking}" 
	class=" w-full ">
	<div class="w-screen bg-gray-100 pt-40 pb-20">
	
		<div class="min-w-[700px] max-w-[1000px] space-y-6 mx-auto px-4">
			<div class="flex justify-between">
				<div class="flex items-center gap-2">
					<h1 class="text-3xl font-bold max-w-[750px]">
						<span th:text="${wine.name}" class="text-3xl font-bold">와인 이름</span>
						<span th:text="${wine.vintage != null} ? ${wine.vintage} : '' " class="text-lg font-medium opacity-70">와인 빈티지</span>
					</h1>
				</div>
				<div class="inline-block">
					<button type="button" class="focus:outline-none text-white bg-gray-400 hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 font-base rounded-full text-xs px-3 py-1.5 mb-2 "
						th:onclick="|location='/edit-wine/${wine.wineId}'|">
						Modify</button>
				</div>
			</div>
			<div class="grid md:grid-cols-7 gap-12 items-start">
				<div class="flex flex-col gap-2 col-span-4">
					<div class="flex items-start gap-4">
						
						
						<div class=" w-1/2 text-center relative">
							<div th:if="${wine.size != 'Standard' }" 
								th:classappend="${wine.size == 'Double Magnum'} ? 'bg-red-700' : (${wine.size == 'Magnum'} ? 'bg-blue-700' : (${wine.size == 'Half'} ? 'bg-orange-500' : 'bg-yellow-500')) "
								class="absolute top-0 left-0  p-2 rounded-br-lg ">
								<span th:text="${wine.size}" class="text-sm font-semibold text-white">기본이 아닌 와인 사이즈</span>
							</div>
							<img th:src="@{${wine.thumb}}" th:alt="${wine.name}"
								class="inline-block my-2 h-[400px] object-cover" 
								height="400" style="object-fit: cover;" />
						</div>
						
						<div class="grid gap-2">
							<div th:if="${wine.country != null}" class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
									viewBox="0 0 24 24" fill="none" stroke="currentColor"
									stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
									class="w-4 h-4 fill-accent">
					              <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
					              <circle cx="12" cy="10" r="3"></circle>
					            </svg>
								<div th:text="${wine.country}" class="text-lg font-bold">와인 국가</div>
							</div>
							<div th:if="${wine.region != null}" class="flex items-center gap-2">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
									viewBox="0 0 24 24" fill="none" stroke="currentColor"
									stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
									class="w-4 h-4 fill-accent">
					              <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
					              <circle cx="12" cy="10" r="3"></circle>
					            </svg>
								<div th:text="${wine.region}" class="text-lg font-bold">와인 지역</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-span-3">
					<div class="flex justify-between">
						<div>
							<h2 class="text-lg font-semibold">Avg Price <span class="text-xs opacity-70">(750ml)</span></h2>
							<p th:text="${wine.averagePrice != null} ? |$ ${#numbers.formatDecimal(wine.averagePrice,1,'COMMA',2,'POINT')}| : '$ N/A' " class="text-2xl font-bold">비비노 평균 가격</p>
							<p th:text="${wine.averagePrice != null} ? |(₩ ${#numbers.formatDecimal(wine.averagePrice * exchangeRate,1,'COMMA',0,'POINT')})| : '(₩ N/A)' " class="text-sm">비비노 평균 가격(원)</p>
							
						</div>
						<div>
							<h2 class="text-lg font-semibold">Your Avg Price</h2>
							<p th:text="|$ ${#numbers.formatDecimal(userAveragePrice / exchangeRate,1,'COMMA',2,'POINT')}|" class="text-2xl font-bold">사용자 평균 구매 가격(달러)</p>
							<p th:text="|(₩ ${#numbers.formatDecimal(userAveragePrice,1,'COMMA',0,'POINT')})|" class="text-sm">사용자 평균 구매 가격</p>
						</div>
					</div>
					<div class="flex items-center justify-between mt-4 w-full">
				        <div class="flex justify-between">
					        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
								viewBox="0 0 32 32" fill="none" stroke="currentColor"
								stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
								class="text-yellow-400 mt-1">
					            <g xmlns="http://www.w3.org/2000/svg" clip-path="url(#clip0_901_3111)">
									<path d="M23.7627 20.1418C23.7627 20.1418 25.5627 27.4428 26.0827 29.4318C26.5727 31.3018 25.0727 31.2518 24.1527 30.6128C23.1227 29.8918 16.0027 24.8018 16.0027 24.8018C16.0027 24.8018 8.82267 29.9318 7.83267 30.6218C6.98267 31.2118 5.40267 31.3418 6.04267 29.4528C6.50267 27.8628 8.75267 20.1418 8.75267 20.1418C8.75267 20.1418 2.18267 15.3318 1.48267 14.7918C0.782673 14.2618 0.752673 12.7618 2.01267 12.6528C3.26267 12.5518 11.3427 11.8628 11.3427 11.8628C11.3427 11.8628 14.4727 3.19282 14.8927 2.04182C15.3027 0.671824 16.6627 0.641824 17.2127 2.02182C17.6627 3.14182 21.1727 11.8628 21.1727 11.8628C21.1727 11.8628 28.8027 12.5418 29.9527 12.6418C31.2127 12.7218 31.3127 14.2828 30.4927 14.9128C29.6827 15.5518 23.7627 20.1418 23.7627 20.1418Z" fill="#FFC44D"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M17.2162 2.02159C17.6662 3.14259 21.1742 11.8636 21.1742 11.8636C21.1742 11.8636 28.8062 12.5426 29.9552 12.6386C31.2142 12.7186 31.3132 14.2796 30.4962 14.9146C29.6812 15.5466 23.7612 20.1406 23.7612 20.1406C23.7612 20.1406 25.5602 27.4376 26.0832 29.4256C26.5732 31.2986 25.0702 31.2486 24.1562 30.6096C23.1212 29.8886 16.0012 24.7966 16.0012 24.7966C16.0012 24.7966 8.8252 29.9276 7.8372 30.6176C6.9872 31.2086 5.4002 31.3376 6.0402 29.4536C6.5052 27.8636 8.7552 20.1406 8.7552 20.1406C8.7552 20.1406 2.1792 15.3286 1.4812 14.7916C0.7792 14.2556 0.7572 12.7596 2.0092 12.6526C3.2632 12.5466 11.3432 11.8636 11.3432 11.8636C11.3432 11.8636 14.4752 3.18959 14.8962 2.04259C15.3042 0.671592 16.6632 0.640592 17.2162 2.02159Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</g>
								<defs xmlns="http://www.w3.org/2000/svg">
									<clipPath id="clip0_901_3111">
										<rect width="32" height="32" fill="white"/>
									</clipPath>
								</defs>
					        </svg>
							<span th:text="${wine.averageRating}" class="text-4xl font-medium">비비노 평점</span> 
							<span th:text="|(${#numbers.formatDecimal(wine.rating,1,'COMMA',0,'POINT')} ratings)|" class="text-sm pt-4">비비노 평점 개수</span>
				        </div>
				        <div class="flex justify-between pt-1">
				        	<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
								viewBox="0 0 32 32" fill="none" stroke="currentColor"
								stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
								class="text-yellow-400 mt-1">
					            <g xmlns="http://www.w3.org/2000/svg" clip-path="url(#clip0_901_3111)">
									<path d="M23.7627 20.1418C23.7627 20.1418 25.5627 27.4428 26.0827 29.4318C26.5727 31.3018 25.0727 31.2518 24.1527 30.6128C23.1227 29.8918 16.0027 24.8018 16.0027 24.8018C16.0027 24.8018 8.82267 29.9318 7.83267 30.6218C6.98267 31.2118 5.40267 31.3418 6.04267 29.4528C6.50267 27.8628 8.75267 20.1418 8.75267 20.1418C8.75267 20.1418 2.18267 15.3318 1.48267 14.7918C0.782673 14.2618 0.752673 12.7618 2.01267 12.6528C3.26267 12.5518 11.3427 11.8628 11.3427 11.8628C11.3427 11.8628 14.4727 3.19282 14.8927 2.04182C15.3027 0.671824 16.6627 0.641824 17.2127 2.02182C17.6627 3.14182 21.1727 11.8628 21.1727 11.8628C21.1727 11.8628 28.8027 12.5418 29.9527 12.6418C31.2127 12.7218 31.3127 14.2828 30.4927 14.9128C29.6827 15.5518 23.7627 20.1418 23.7627 20.1418Z" fill="#FFC44D"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M17.2162 2.02159C17.6662 3.14259 21.1742 11.8636 21.1742 11.8636C21.1742 11.8636 28.8062 12.5426 29.9552 12.6386C31.2142 12.7186 31.3132 14.2796 30.4962 14.9146C29.6812 15.5466 23.7612 20.1406 23.7612 20.1406C23.7612 20.1406 25.5602 27.4376 26.0832 29.4256C26.5732 31.2986 25.0702 31.2486 24.1562 30.6096C23.1212 29.8886 16.0012 24.7966 16.0012 24.7966C16.0012 24.7966 8.8252 29.9276 7.8372 30.6176C6.9872 31.2086 5.4002 31.3376 6.0402 29.4536C6.5052 27.8636 8.7552 20.1406 8.7552 20.1406C8.7552 20.1406 2.1792 15.3286 1.4812 14.7916C0.7792 14.2556 0.7572 12.7596 2.0092 12.6526C3.2632 12.5466 11.3432 11.8636 11.3432 11.8636C11.3432 11.8636 14.4752 3.18959 14.8962 2.04259C15.3042 0.671592 16.6632 0.640592 17.2162 2.02159Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
								</g>
								<defs xmlns="http://www.w3.org/2000/svg">
									<clipPath id="clip0_901_3111">
										<rect width="32" height="32" fill="white"/>
									</clipPath>
								</defs>
					        </svg>
							<span th:text="${userAverageRating != null} ? ${T(java.lang.Math).floor(userAverageRating * 10) / 10} : 'N/A' " class="text-3xl font-medium">유저 평점</span> 
							<span th:text="|(${#numbers.formatDecimal(reviewList.size(),1,'COMMA',0,'POINT')} ratings)|" class="text-sm pt-3">유저 평점 개수</span>
						</div>
					</div>
					<div class="mt-6">
						<div class="flex justify-between">
							<p class="text-lg font-medium">Stock: <span th:text="${wine.count}" class="text-4xl"> 현재 보유량 </span> bottle(s)</p>
							<a th:href="@{${wine.link}}" target="_blank">
						    <button class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium rounded-full bg-black px-4 py-2 mt-1 text-white">
						        Learn More
						    </button>
					    </a>
						</div>
						<br />
						<p class="text-sm">Number of buying: <span th:text="${numberOfBuying}"></span> bottle(s)</p>
						<p class="text-sm">Number of drinking: <span th:text="${numberOfDrinking}"></span> bottle(s)</p>
					</div>
					<div class="mt-6 flex justify-between">
						<div class="inline-block">
							<button type="button" class="focus:outline-none text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 "
								th:onclick="|location='/add-wine?wineId=${wine.wineId}'|">
								Bought</button>		
						
							<button type="button" class="focus:outline-none text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 "
								th:onclick="|location='/drink-wine?wineId=${wine.wineId}'|">
								Drank</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="w-full ">
		<div class="w-4/5 h-full mx-auto">
		
			<div class="w-3/4 mx-auto my-10">
				<h3 class="text-3xl font-semibold ml-4 mb-4">Inventory record</h3>
				<div class="w-full relative overflow-x-auto shadow-md sm:rounded-lg ">
					<table class="w-full text-sm text-center rtl:text-right text-gray-700 max-h-[400px] overflow-y-scroll">
						<colgroup>
							<col width="15%">
							<col width="5%">
							<col width="50%">
							<col width="20%">
							<col width="5%">
							<col width="5%">
						</colgroup>
						<thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
							<tr>
								<th scope="col" class="px-6 py-3">Date</th>
								<th scope="col" class="px-6 py-3">Type</th>
								<th scope="col" class="px-6 py-3">Place</th>
								<th scope="col" class="px-6 py-3">Price</th>
								<th scope="col" class="px-6 py-3">Number</th>
								<th scope="col" class="px-6 py-3">Stock</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="wineLog : ${wineLogList}" 
								th:classappend="${wineLog.type == 'IN'} ? 'bg-green-600' : 'bg-red-600' "
								class=" bg-opacity-20 border-b ">
								<th th:text="${wineLog.date}" scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">로그 날짜</th>
								<td th:text="${wineLog.type == 'IN'} ? 'Buy' : 'Drink' " class="px-6 py-4">로그 타입</td>
								<td th:text="${wineLog.place}" class="px-6 py-4">로그 장소</td>
								<td th:text="${wineLog.price != null} ? (|₩ ${#numbers.formatDecimal(wineLog.price,1,'COMMA',0,'POINT')}|) : '' " class="px-6 py-4">와인 가격</td>
								<td th:text="${wineLog.count}" class="px-6 py-4">로그 개수</td>
								<td th:text="${wineLog.stock}" class="px-6 py-4">로그 재고</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<div class="w-3/4 mx-auto my-10 mt-20">
				<h3 class="text-3xl font-semibold ml-4 mb-4">Review</h3>
				<h3 th:if="${reviewList.size() == 0}" class="text-xl font-semibold ml-4 mb-4 p-4 text-center rounded-lg border bg-card text-card-foreground shadow-sm" >No review</h3>
				<div class="w-full py-2 lg:py-4">
				  <div class="container grid items-start gap-6 lg:gap-12">
				    <div class="grid gap-4">
				      <div th:each="review : ${reviewList}" class="rounded-lg border bg-card text-card-foreground shadow-sm" data-v0-t="card">
				        <div class="p-4 space-y-4">
				          <div class="flex items-center space-x-4">
				            <div class="flex items-center space-x-1">
				              <svg th:each="fill : ${#numbers.sequence(1, review.rating, 1)}" xmlns="http://www.w3.org/2000/svg" fill="#ffa400" width="23px" height="23px" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path d="M22,10.1c0.1-0.5-0.3-1.1-0.8-1.1l-5.7-0.8L12.9,3c-0.1-0.2-0.2-0.3-0.4-0.4C12,2.3,11.4,2.5,11.1,3L8.6,8.2L2.9,9C2.6,9,2.4,9.1,2.3,9.3c-0.4,0.4-0.4,1,0,1.4l4.1,4l-1,5.7c0,0.2,0,0.4,0.1,0.6c0.3,0.5,0.9,0.7,1.4,0.4l5.1-2.7l5.1,2.7c0.1,0.1,0.3,0.1,0.5,0.1v0c0.1,0,0.1,0,0.2,0c0.5-0.1,0.9-0.6,0.8-1.2l-1-5.7l4.1-4C21.9,10.5,22,10.3,22,10.1z"/></svg>
				              <svg th:if="${review.rating % 1 != 0}" xmlns="http://www.w3.org/2000/svg" fill="#ffa400" width="23px" height="23px" viewBox="0 0 24 24" enable-background="new 0 0 24 24"><path d="M22,10.1c0.1-0.5-0.3-1.1-0.8-1.1l-5.7-0.8L12.9,3c-0.1-0.2-0.2-0.3-0.4-0.4C12,2.3,11.4,2.5,11.1,3L8.6,8.2L2.9,9C2.6,9,2.4,9.1,2.3,9.3c-0.4,0.4-0.4,1,0,1.4l4.1,4l-1,5.7c0,0.2,0,0.4,0.1,0.6c0.3,0.5,0.9,0.7,1.4,0.4l5.1-2.7l5.1,2.7c0.1,0.1,0.3,0.1,0.5,0.1v0c0.1,0,0.1,0,0.2,0c0.5-0.1,0.9-0.6,0.8-1.2l-1-5.7l4.1-4C21.9,10.5,22,10.3,22,10.1z M15.8,13.6c-0.2,0.2-0.3,0.6-0.3,0.9l0.7,4.2l-3.8-2c-0.1-0.1-0.3-0.1-0.5-0.1V5.7l1.9,3.8c0.1,0.3,0.4,0.5,0.8,0.5l4.2,0.6L15.8,13.6z"/></svg>
				              <svg th:each="empty : ${#numbers.sequence(1, 5 - review.rating, 1)}" xmlns="http://www.w3.org/2000/svg" fill="#ffa400" width="23px" height="23px" viewBox="0 0 24 24"><path d="M22,9.67A1,1,0,0,0,21.14,9l-5.69-.83L12.9,3a1,1,0,0,0-1.8,0L8.55,8.16,2.86,9a1,1,0,0,0-.81.68,1,1,0,0,0,.25,1l4.13,4-1,5.68a1,1,0,0,0,.4,1,1,1,0,0,0,1.05.07L12,18.76l5.1,2.68a.93.93,0,0,0,.46.12,1,1,0,0,0,.59-.19,1,1,0,0,0,.4-1l-1-5.68,4.13-4A1,1,0,0,0,22,9.67Zm-6.15,4a1,1,0,0,0-.29.89l.72,4.19-3.76-2a1,1,0,0,0-.94,0l-3.76,2,.72-4.19a1,1,0,0,0-.29-.89l-3-3,4.21-.61a1,1,0,0,0,.76-.55L12,5.7l1.88,3.82a1,1,0,0,0,.76.55l4.21.61Z"/></svg>
				            </div>
				            <h4 th:text="${review.title}" class="text-lg font-semibold tracking-tight">리뷰 제목</h4>
				            <div th:text="${review.regDate}" class="text-sm text-gray-500">리뷰 날짜</div>
				          </div>
				          <p th:text="${review.content}" class="text-sm text-gray-500">리뷰 내용</p>
				        </div>
				      </div>
				      
				    </div>
				  </div>
				</div>
			</div>
			
		</div>
	</div>
</div>

</html>


