<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winemanager.security.mapper.SecurityMapper">

	<!-- *********** Deprecated *********** -->
    
    <select id="selectUserById" parameterType="String" resultType="com.winemanager.security.domain.SecurityUser">
    	select
    		user_id, password
    	from
    		wine.member
    	where
    		user_id = #{userId}
    </select>

</mapper>
