<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winemanager.user.mapper.UserMapper">

	<select id="selectUserById" parameterType="com.winemanager.user.domain.User" resultType="com.winemanager.user.domain.User">
		select
			user_id, password, nickname, email, profile_pic
		from
			wine.member
		where
			user_id = #{userId}
		
	</select>
    
    <insert id="insertUser" parameterType="com.winemanager.user.domain.User">
    	insert into
    		wine.member
    	(user_id, password, nickname, email)
    	values
    	(#{userId}, #{password}, #{nickname}, #{email})
    </insert>
    
    <select id="selectMainStats" parameterType="String">
    	select
			IFNULL((select sum(count) from wine.wine_log where type = "IN" and user_id = wl.user_id), 0) number_of_buying
		    , IFNULL((select sum(count) from wine.wine_log where type = "OUT" and user_id = wl.user_id), 0) number_of_drinking
		    , IFNULL((select sum(price * count) from wine.wine_log where type = "IN" and user_id = wl.user_id), 0) money_spent
		from
			wine_log wl
		where
			wl.user_id = #{userId}
		group by
			wl.user_id
    </select>
    
    <select id="selectTimeline" parameterType="com.winemanager.user.domain.TimelineRequest" resultType="com.winemanager.user.domain.Timeline">
    	select
			w.wine_id, l.log_id, l.date, l.type, w.name wine_name, w.vintage, w.size wine_size, l.count, l.price, l.place, r.rating rate, w.thumb, w.thumb_bottom
		from
			wine.wine w
		left join
			wine.wine_log l
		on
			l.wine_id = w.wine_id
		left join
			wine.review r
		on
			r.log_id = l.log_id
		where
			w.user_id = #{userId}
		order by
			l.date desc, l.type, w.name desc, l.log_id desc
		limit
			${(page - 1) * pageSize}, #{pageSize}
    </select>
    
    

</mapper>
