<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.winemanager.wine.mapper.WineMapper">
    
    <select id="selectPlaceById" parameterType="String" resultType="String">
    	select
			place
		from
			wine.place
		where
			user_id = #{userId}
    </select>
    
    <insert id="insertPlace" parameterType="Map">
    	insert into
    		wine.place
		(user_id, place)
		values
		(#{userId}, #{place})
    </insert>
    
    <insert id="insertNewWine" parameterType="com.winemanager.wine.domain.Wine" useGeneratedKeys="true" keyColumn="wine_id" keyProperty="wineId">
    	insert into
			wine.wine
		(user_id, name, link, thumb, thumb_bottom, country, region, average_rating, rating, average_price, vintage, count, size, wine_type)
		values
		(#{userId}, #{name}, #{link}, #{thumb}, #{thumbBottom}, #{country}, #{region}, #{averageRating}, #{rating}, #{averagePrice}, #{vintage}, #{count}, #{size}, #{wineType})
    </insert>
    
    <insert id="insertWineLog" parameterType="com.winemanager.wine.domain.WineLog" useGeneratedKeys="true">
    	insert into
			wine.wine_log
		(user_id, wine_id, type, date, place, price, count)
		values
		(#{userId}, #{wineId}, #{type}, #{date}, #{place}, #{price}, #{count});
		
		update 
			wine.wine
		set
			count = count + #{count}
		where wine_id = #{wineId}
    </insert>
    
    <select id="selectWineListByName" parameterType="Map" resultType="com.winemanager.wine.domain.Wine">
    	select
    		wine_id, user_id, name, link, thumb, thumb_bottom, country, region, average_rating, rating, average_price, vintage, count, size, wine_type
    	from
    		wine.wine
    	where
    		user_id = #{userId}
    		and
    		name like concat('%', #{keyword}, '%')
    </select>
    
    <select id="selectCountOfMyWine" parameterType="com.winemanager.wine.domain.MyWineRequest" resultType="int">
    	select
    		count(*)
    	from
    		wine.wine
    	<where>
    		user_id = #{userId}
    		<if test="type != 'all'">
    			and wine_type = #{type}
    		</if>
    	</where>
    </select>
    
    <select id="selectMyWine" parameterType="com.winemanager.wine.domain.MyWineRequest" resultType="com.winemanager.wine.domain.Wine">
    	select
    		wine_id, user_id, name, link, thumb, thumb_bottom, country, region, average_rating, rating, average_price, vintage, count, size, wine_type
    	from
    		wine.wine
    	<where>
    		user_id = #{userId}
    		<if test="type != 'all'">
    			and wine_type = #{type}
    		</if>
    	</where>
    	order by
	    	<if test="sortBy != null">
		    	<if test="sortBy.equals('reg_asc')">wine_id asc,</if>
		    	<if test="sortBy.equals('name_asc')">name asc,</if>
		    	<if test="sortBy.equals('name_desc')">name desc,</if>
		    	<if test="sortBy.equals('price_asc')">average_price asc,</if>
		    	<if test="sortBy.equals('price_desc')">average_price desc,</if>
		    	<if test="sortBy.equals('count_asc')">count asc,</if>
		    	<if test="sortBy.equals('count_desc')">count desc,</if>
	    	</if>
    		wine_id desc
    	limit
    		#{pagination.limitStart}, #{recordSize}
    </select>

</mapper>
