<!--
// v0 by Vercel.
// https://v0.dev/t/NjrO6n2Z0cn
-->

<main xmlns:th="http://www.thymeleaf.org" class="flex flex-col gap-8 p-6 md:p-10">
	<div class="space-y-2">
		<h1 class="text-3xl font-bold tracking-tighter md:text-4xl">
			Analytics Dashboard
		</h1>
		<p class="text-gray-500 md:text-xl dark:text-gray-400">
			Check the record of wine on the graph.
		</p>
	</div>
	<div class="grid gap-6 grid-cols-1">
		<div class="grid gap-6 grid-cols-1 lg:grid-cols-2">
			<div class="rounded-lg border bg-card text-card-foreground shadow-sm"
				data-v0-t="card">
				<div class="flex flex-col space-y-1.5 p-6">
					<div class="flex justify-between">
						<div class="space-y-1.5">
							<h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">
								Monthly Consumption
							</h3>
							<p id="spend-by-time-description" class="text-sm text-muted-foreground">Last 12 months</p>
						</div>
						<div class="relative">
							<select id="spend-by-time-select" class="z-10 focus:absolute right-0 block w-fit  text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50"
								onfocus='this.size=10;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
								<optgroup label="----------------">
								    <option value="-1" selected>Last 1 year</option>
								    <option value="-2">Last 2 year</option>
								    <option value="-3">Last 3 year</option>
								    <option value="-5">Last 5 year</option>
								    <option value="0">All time</option>
								</optgroup>
							    <optgroup label="----------------">
							    	<option th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()),1997)}" th:value="${year}" th:text="${year}" ></option>
							    </optgroup>
						  	</select>
						</div>
					</div>
				</div>
				<div class="p-6">
					<div class="aspect-[6/3]">
						<canvas id="spend-by-time"></canvas>
					</div>
				</div>
			</div>
			<div class="rounded-lg border bg-card text-card-foreground shadow-sm"
				data-v0-t="card">
				<div class="flex flex-col space-y-1.5 p-6">
					<div class="flex justify-between">
						<div class="space-y-1.5">
							<h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">
								Change In Wine Stocks
							</h3>
							<p id="stock-by-time-description" class="text-sm text-muted-foreground">Last 12 months</p>
						</div>
						<div class="relative">
							<select id="stock-by-time-select" class="z-10 focus:absolute right-0 block w-fit  text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50"
								onfocus='this.size=10;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
								<optgroup label="----------------">
								    <option value="-1" selected>Last 1 year</option>
								    <option value="-2">Last 2 year</option>
								    <option value="-3">Last 3 year</option>
								    <option value="-5">Last 5 year</option>
								    <option value="0">All time</option>
								</optgroup>
							    <optgroup label="----------------">
							    	<option th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()),1997)}" th:value="${year}" th:text="${year}" ></option>
							    </optgroup>
						  	</select>
						</div>
					</div>
				</div>
				<div class="p-6">
					<div class="aspect-[6/3]">
						<canvas id="stock-by-time"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="grid gap-6 grid-col-1 lg:grid-cols-2 2xl:grid-cols-4">
			<div class="rounded-lg border bg-card text-card-foreground shadow-sm"
				data-v0-t="card">
				<div class="flex flex-col space-y-1.5 p-6">
					<h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">
						Wine By Place
					</h3>
					<p id="wine-by-place-description" class="text-sm text-muted-foreground">Wine you bought</p>
				</div>
				<div class="p-6">
					<div class="aspect-[3/3]">
						<canvas id="wine-by-place"></canvas>
					</div>
				</div>
			</div>
			<div class="rounded-lg border bg-card text-card-foreground shadow-sm"
				data-v0-t="card">
				<div class="flex flex-col space-y-1.5 p-6">
					<div class="flex justify-between">
						<div class="space-y-1.5">
							<h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">
								Wine By Type
							</h3>
							<p id="wine-by-type-description" class="text-sm text-muted-foreground">Wine you have</p>
						</div>
						<div class="relative">
							<select id="wine-by-type-select" class="z-10 focus:absolute right-0 block w-fit  text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50"
								onfocus='this.size=4;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
								<optgroup label="-------------">
								    <option value="hold" selected>Holding</option>
								    <option value="buy">Buying</option>
								    <option value="drink">Drinking</option>
								</optgroup>
						  	</select>
						</div>
					</div>
				</div>
				<div class="p-6">
					<div class="aspect-[3/3]">
						<canvas id="wine-by-type"></canvas>
					</div>
				</div>
			</div>
			<div class="rounded-lg border bg-card text-card-foreground shadow-sm"
				data-v0-t="card">
				<div class="flex flex-col space-y-1.5 p-6">
					<div class="flex justify-between">
						<div class="space-y-1.5">
							<h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">
								Wine By Country
							</h3>
							<p id="wine-by-country-description" class="text-sm text-muted-foreground">Wine you have by country</p>
						</div>
						<div class="relative">
							<select id="wine-by-country-select" class="z-10 focus:absolute right-0 block w-fit  text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50"
								onfocus='this.size=8;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
								<optgroup label="----By Country---">
								    <option value="country-hold" selected>Holding</option>
								    <option value="country-buy">Buying</option>
								    <option value="country-drink">Drinking</option>
								</optgroup>
								<optgroup label="----By Region---">
								    <option value="region-hold">Holding</option>
								    <option value="region-buy">Buying</option>
								    <option value="region-drink">Drinking</option>
								</optgroup>
						  	</select>
						</div>
					</div>
				</div>
				<div class="p-6">
					<div class="aspect-[3/3]">
						<canvas id="wine-by-country"></canvas>
					</div>
				</div>
			</div>
			<div class="rounded-lg border bg-card text-card-foreground shadow-sm"
				data-v0-t="card">
				<div class="flex flex-col space-y-1.5 p-6">
					<h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">
						Wine By Price
					</h3>
					<p class="text-sm text-muted-foreground">Wine you bought</p>
				</div>
				<div class="p-6">
					<div class="aspect-[3/3]">
						<canvas id="wine-by-price"></canvas>
					</div>
				</div>
			</div>
		</div>
		
		<div class="grid gap-6 grid-col-1 lg:grid-cols-2">
		
			<div class="rounded-lg border bg-card text-card-foreground shadow-sm"
				data-v0-t="card">
				<div class="flex flex-col space-y-1.5 p-6">
					<h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">
						Best Wine You Drank
					</h3>
					<p class="text-sm text-muted-foreground">The highest rating</p>
				</div>
				<div class="p-6">
					<div class="grid gap-4 text-sm">
						<div th:each="data : ${top3.bestWine}" class="flex items-center justify-between">
							<div><span th:text="${data.name}">와인이름</span></div>
							<div class="font-medium min-w-16 text-right"><span th:text="${data.value}">평점</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="rounded-lg border bg-card text-card-foreground shadow-sm"
				data-v0-t="card">
				<div class="flex flex-col space-y-1.5 p-6">
					<h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">
						Bang For Your Buck!
					</h3>
					<p class="text-sm text-muted-foreground">Rating per a dollar</p>
				</div>
				<div class="p-6">
					<div class="grid gap-4 text-sm">
						<div th:each="data : ${top3.costEffectiveWine}" class="flex items-center justify-between">
							<div><span th:text="${data.name}">와인이름</span></div>
							<div class="font-medium min-w-16 text-right"><span th:text="|${#numbers.formatDecimal(data.value, 1, 2)} / 1$|">1달러 당 평점</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="rounded-lg border bg-card text-card-foreground shadow-sm"
				data-v0-t="card">
				<div class="flex flex-col space-y-1.5 p-6">
					<h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">
						Most Consumed Wine
					</h3>
					<p class="text-sm text-muted-foreground">Wine you drank the most</p>
				</div>
				<div class="p-6">
					<div class="grid gap-4 text-sm">
						<div th:each="data : ${top3.mostConsumedWine}" class="flex items-center justify-between">
							<div><span th:text="${data.name}">와인이름</span></div>
							<div class="font-medium min-w-16 text-right"><span th:text="|${#numbers.formatDecimal(data.value, 1, 0)} bottles|">마신 병 수</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="rounded-lg border bg-card text-card-foreground shadow-sm"
				data-v0-t="card">
				<div class="flex flex-col space-y-1.5 p-6">
					<h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">
						Most Expensive Wine
					</h3>
					<p class="text-sm text-muted-foreground">The most expensive wine ever bought</p>
				</div>
				<div class="p-6">
					<div class="grid gap-4 text-sm">
						<div th:each="data : ${top3.mostExpensiveWine}" class="flex items-center justify-between">
							<div><span th:text="${data.name}">와인이름</span></div>
							<div class="font-medium min-w-16 text-right"><span th:text="|${#numbers.formatDecimal(data.value, 1, 2)}$|">가격</span></div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</main>