<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<header th:fragment="header" id="header" class="">
	<nav class="md:flex text-center items-center justify-between p-8">
		<h1 class=" text-3xl font-bold w-full md:w-fit"><a href="/">Wine Manager</a></h1>
		<div class="flex items-center justify-between space-x-1 md:space-x-8 text-xl mt-8 md:mt-0">
			<a class="text-sm" th:href="${userId == null} ? '/login' : '/logout'" th:text="${userId == null} ? 'Login' : 'Logout'">Login</a>
			<a class="" href="/add-wine">Add wine</a>
			<a class="" href="/my-wine">My Wine</a>
			<a class="" href="/about">About</a>
		</div>
	</nav>
</header>
</html>