<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<th:block layout:fragment="script">
	<!-- <script th:src="@{/js/index.js}" type="text/javascript"></script> -->
</th:block>

<th:block layout:fragment="css">
	<!-- <link rel="stylesheet" th:href="@{/css/header.css}" /> -->
</th:block>

<div layout:fragment="content" class="flex h-screen w-full mt-64 mb-28">
	<div class="flex flex-col w-1/2 p-16 space-y-6">
		<h1 class="text-5xl font-bold mb-8">Own Wine Management System</h1>
		<p class="text-xl leading-10">Simply manage the wines you have. <br /> Try various functions such as quantity
			management, purchase/consumption records, and reviews.</p>
	</div>
	<div class="mr-20 w-1/2 bg-[url('../images/about.jpg?height=768&amp;width=626')] bg-no-repeat bg-cover bg-center"></div>
</div>

</html>
